  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <nav>
              <ul class="nav masthead-nav">
                <li class="active">Home</li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">

        </div>

        <div class="mastfoot">
          <div class="inner">

          </div>
        </div>

      </div>

    </div>

  </div>
